body{
    background-image:url("./img/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    margin:0;
}
.menue{
    display: flex;
    /* width:100%; */
    justify-content: center;
    background-color: black;
    
}
.menu_a{
    text-decoration: none;
    padding:1%;
    color:white;
    width:33.3%;
    text-align:center;
}
.menu_a:hover{
    background-color: white;
    color:black;
}
h1{
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: 3vh;
    font-size: 3rem;
}
#maintext{
    color:white;
    text-align: center;
    top:50%;
    padding-top: 20vh;
    font-size: 5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

  .menu{
      display: flex;
      align-items: center;
      justify-content: center;
  }

  /* Photos*/
  .row{
      display: flex;
      justify-content: space-around;
      width:100%;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
  }
  .row img{
      margin-top:5%;
      width:20%;
  }
  #low{
      margin-bottom: 2%;
      padding-top:3%;
  }
  /*Video*/
   #vid{
      width:80%;
  }
  iframe{
      width: 100%;;
  }
  .row iframe{
      padding:5%;
      margin-bottom: 2%;
  }
  @media only screen and (max-width:1300px) {
    body{
        background-color: black;
    }
  }
  @media only screen and (max-width:1300px) {
      body{
          background-color: black;
      }
    .row{
        width:100%;
        display: block;
    }
    .row img{
        display:block;
        text-align: center;
        width:40%;
        margin-left:auto;
        margin-right:auto;
        margin-top:5%;
    }
    .menu_a{
        display: block;
        margin-left:auto;
        margin-right:auto;
    }
    .menue{
        display: block;
        
    }
  iframe{
      width:100%;
      height:30vh;
  }
}
